@page "/"

<div id="outer-screen">
    <div id="inner-screen">
        <div id="output-outer">
            <div id="output">
                Helloword<br />
                <div class="row">
                    <div class="col"><Latex Value="\frac{\cancel{b}}{\cancel{b}}"></Latex></div>
                </div>
            </div>
        </div>
        <div id="blank-line">&nbsp;</div>
        <div id="input-row">
            <span>&gt;&nbsp;</span><textarea autofocus style="resize:both;" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';" />
        </div>
    </div>
</div>


